<%= form_for(@article) do |f| %>

<div class="post-field">
    <%= f.label :"タイトル" %><br>
    <%= f.text_field :title, required: true, size:"35px", class: "title",placeholder:"一覧(見出し)にも表示されます 25文字以内で記入" %>
</div>


<div class="post-field">
    <%= f.label :"本文" %><br>
    <%= f.text_area :content,'data-provider': :summernote %>
</div>

<div class="post-field">
    <%= f.label :"タグ" %><br>
     <%= f.text_field :hashbody, size:"55x3",placeholder:"#タグは4つまでつけられます #タグ一つの文字数は5文字以内" %>
</div>
  


<div class="post-field">
     <%= f.select :status, [["下書き", false],["公開", true]] %>
</div> 

<div class="actions">
    <%= f.submit %>
</div>

<% end %>