
  <div id="g">
    <div class="container">
      <div class="row">
        <h3><i>Travelers Blog</i></h3>
        <br>
        <br>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
         
          <br>
          <br>
        </div>
        <div class="col-lg-2"></div>
        <% @articles.each do |article| %>

        <div class="col-lg-3 team">
          <%= attachment_image_tag article.user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-img", fallback: "logo.png" %>
          <h4><%= article.user.name %></h4>
          <h5><%= article.user.job %></h5>
          <strong><%= truncate(article.title, length:8) do %>
                  <%=link_to "#{article.title}", article_path(article.id) %></strong>
                  <% end %>
          <p><%= render_with_tags(article.hashbody) %></p>

        </div>
        <% end %>
        <%#=link_to "#{article.title}", article_path(article.id) %>
      </div>
    </div>

  </div>