<div class="profile_form">
 <h2>Profile settings</h2>
    <%= form_for(@user, url: {controller:"users", action:"update"},method: :patch) do |f| %>

<div class="container">
  <div class="profile-field">
      <div class="img_wrap"><%= attachment_image_tag @user, :profile_image, :fill, 90, 90, class: "img-circle pull-left profile-img", fallback: "logo.png" %>
      </div>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  </div>
</div>

  <div class="profile-field">
    <%= f.label :"仕事" %><br>
    <%= f.text_field :job, required: true %>
  </div>
  


  <div class="profile-field">
    <%= f.label :"自己紹介" %><br>
    <%= f.text_area :introduction, required: true %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

 <% end %>
</div>

