<!DOCTYPE html>
<html>
  <head>
    <title>HitTabi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f17b0f7947.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
     <%= javascript_pack_tag 'hello_react' %>




  </head>

  <body>
      <header>
          <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                       <!--スマホサイズ時のハンバーガーメニューを表示-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="        .navbar-collapse">
                       <!--class="sr-only"音声ブラウザにメニューがあることを伝える。なくても問題なし-->
                  <span class="sr-only">Toggle navigation</span>
                       <!--ハンバーガーメニューの三本線を設定-->
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%=link_to "HITOTABI", root_path, class:"navbar-brand" %>
              </div>

              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li><%=link_to "home", root_path %></li>
                    <li><%=link_to "about", blogs_about_path %></li>
                    <li><%=link_to "post", new_article_path %></li>
                    <li><%=link_to user_path(current_user.id) do %>
                      <i class="fas fa-user-alt"></i></li>
                      <% end %>
                    <li><button type="button"  class="btn-lg"  data-toggle="modal" data-target="#sampleModal" ><span class="glyphicon glyphicon-search fa-lg" aria-hidden="true"></span></button></li>
                    <li class="logout"><%= link_to destroy_user_session_path,
                            method: :delete do %>
                              <i class="fas fa-door-open"></i></li>
                    <% end %>
                  <% else %>
                    <li><%=link_to "home", root_path %></li>
                    <li><%=link_to "about", blogs_about_path %></li>
                    <li><%=link_to "login", new_user_session_path %></li>
                    <li><button type="button"  class="btn-lg"  data-toggle="modal" data-target="#sampleModal" ><span class="glyphicon glyphicon-search fa-lg" aria-hidden="true"></span></button></li>
                  <% end %>
                </ul>
              </div>
   
            </div>
          </div>
        </div>
      </header>
                        <!-- モーダル・ダイアログ -->
            <div class="modal" id="sampleModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-fluid  modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                            <span>×</span></button>
                            <%= search_form_for @search do |f| %>
                               <%= f.text_field :title_cont, placeholder: 'キーワードで記事を検索', size: 80, class: "search" %>
                               <%= f.submit %>
                            <% end %>
                            <div class="area-saerch"></div>
                           <!--  タグ一覧表示 -->
                           
                          <%= render 'articles/tag', tags: @tags %>
                    </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                  </div>
                </div>
              </div>
            </div>
    <%= yield %>

    <footer>
      <div id="social">
        <div class="container">
          <div class="row centered">
            <div class="col-lg-2">
              <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-lg-2">
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
